<!--07_04 add by sehyeon-->
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Study - 스터디 매칭 서비스</title>

    <!-- PLUGINS CSS STYLE -->
    <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Select 2 -->
    <link href="plugins/selectbox/select_option1.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="plugins/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" media="screen">
    <!-- Owl Carousel Theme -->
    <link href="plugins/owl-carousel/assets/owl.theme.green.min.css" rel="stylesheet" media="screen">
    <!-- Fancy Box -->
    <link href="plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
    <!-- Datepicker -->
    <link href="plugins/datepicker/datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- CUSTOM CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/board.css">
    <link rel="stylesheet" href="css/login.css">

    <!-- FAVICON -->
    <link href="img/favicon.png" rel="shortcut icon">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .map-top{
            top:0;
        }
        .modal {
            /*display: block; !* Hidden by default *!*/
            position: fixed; /* Stay in place */
            z-index: 100; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        .modal-dialog {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }
    </style>

</head>

<body class="body-wrapper">
<!--=====================================
=            Top Header Menu            =
======================================-->
<%- include topHeader.ejs %>
<!--=============================
=            Nav Bar            =
==============================-->
<%- include topButton.ejs %>
<!--==================================
=            Store Coupon            =
===================================-->
<div>
    <section class="store-coupon section w3-twothird" id="mySection">
        <div class="category-select" style="z-index: 100; position: relative;">


            <div class="row selects">
                <select class="col-lg-3 col-md-3 col-sm-6 form-control" style="height: 35px;" onchange="selectRegion1()" id="select_region">
                    <option value="지역(1)">지역(1)</option>
                    <option value="청주">청주</option>
                    <option value="세종">세종</option>
                </select>
                <select class="col-lg-3 col-md-3 col-sm-6 form-control" style="height: 35px;" id="select_region2">
                    <option value="지역(2)">지역(2)</option>
                </select>
                <select class="col-lg-3 col-md-3 col-sm-6  form-control" style="height: 35px;">
                    <option value="분야">분야</option>
                    <option value="언어">언어</option>
                    <option value="운동">운동</option>
                    <option value="취미/클래스">취미/클래스</option>
                </select>

                <input type="button" class="col-lg-2 col-md-2 col-sm-6" name="resetlist" value="검색" onclick="selectRegion()">
            </div>
        </div>
        <div class="container-fluid" style="margin-top: 20px;">
            <%if(authUser.phoneAuthCheck){%>
            <div class="row">
                <% if(interboard !== null && interboard.length!==0){ %>
                <div class="col-md-6" style="color:orange;">
                    추천 마스터
                </div>
                <%}if(seller){%>
                <div class="col-md-6" style="color:orange;">
                    <button onclick="location.href='/writeMaster'" type="button" class="btn btn-primary btn-sm" style="float: right;background-color:#ff6600;border:none;">글 등록</button>
                </div>
                <%}%>
            </div>
            <div class="row">
                <% if(interboard !== null && interboard.length!==0){
                for (var i=0; i< interboard.length; i++){ %>
                <div class="col-lg-3 col-md-6 col-sm-6 list-item">
                    <a class="board_click" href="/masterView?id=<%=interboard[i]._id%>">
                        <div class="block-cnt">
                            <img class="master_imgBackground" src="<%-interboard[i].path%>" style="margin-bottom:10px;">
                            <ul>
                                <li class="inter_deadlineIcon" style="display:none;left:0;float:left;"></li>
                                <li class="inter_studyNum" style="float:right;"></li>
                            </ul>

                            <script type="text/javascript">
                                var ddd = new Date('<%- interboard[i].deadline %>');
                                var date = new Date();
                                var x = document.getElementsByClassName("inter_deadlineIcon");

                                date.setDate(date.getDate()+7);

                                if(ddd<date){
                                    x[<%- i%>].style.display = "block";

                                    x[<%- i%>].style.fontSize = "smaller";
                                    x[<%- i%>].style.backgroundColor = "red";
                                    x[<%- i%>].innerHTML = "마감임박";
                                }
                                else if(ddd>=date){
                                    x[<%- i%>].style.display = "block";
                                    x[<%- i%>].style.backgroundColor = "orange";
                                    x[<%- i%>].innerHTML = "모집중";
                                }
                                var max = <%- interboard[i].maxNum %>;

                                if(max===1){
                                    var a = document.getElementsByClassName('inter_studyNum');
                                    a[<%- i %>].innerHTML = "1&nbsp;:&nbsp;1";
                                }
                                else {
                                    var a = document.getElementsByClassName('inter_studyNum');
                                    a[<%- i %>].innerHTML = "<%- interboard[i].minNum %> : <%- interboard[i].maxNum %>";
                                }
                            </script>
                            <div class="cnt">
                                <div class="cnt_text">
                                    <% i+1 %>
                                    <h5><%= interboard[i].title %></h5>
                                    <p><% for(var n=0; n< interboard[i].category.length;n++){ %>
                                        <%= interboard[i].category[n] %> &nbsp; <% } %><br>
                                        <%= interboard[i].regionShort %><br>
                                        <%= interboard[i].day %>요일 진행<br>
                                        <%= interboard[i].studyTerm %>주 진행</p>
                                    <span id="inter_deadline[<%=i%>]" style="font-size:12px;float:right;line-height:35px;"></span>
                                    <span id="master_term"><span id="master_money"><%= interboard[i].price %>만원</span>&nbsp;(주<%=interboard[i].studynum %>회)</span>
                                    <script>
                                        var i = new Date('<%- interboard[i].deadline %>');
                                        document.getElementById('inter_deadline[<%=i%>]').innerHTML = date_format(i);
                                        function date_format(dateValue){
                                            var dd = dateValue.getDate();
                                            var mm = dateValue.getMonth()+1;
                                            var yyyy = dateValue.getFullYear();

                                            if(dd<10){
                                                dd = '0'+dd;
                                            }
                                            if(mm<10){
                                                mm = '0'+mm;
                                            }
                                            return mm+'/'+dd +'&nbsp;시작';
                                        }
                                    </script>
                                </div>
                            </div>
                            <div class="people-img">
                                <img src="<%-interboard[i].masterphoto%>" style="width: 90%; height: 50px;">
                            </div>
                        </div>
                    </a>
                </div>
                <% }} %>
            </div>
            <%}%>
            <br><hr><br>
            <div class="row">
                <%if(board !== null){%>
                <div class="col-md-6" style="color:orange;">
                    <%= board.length %>명 중 <inline id="mapcount"></inline>명의 마스터
                </div>
                <%}%>
                <%if(!authUser.phoneAuthCheck){%>
                <%if(seller){%>
                <div class="col-md-6" style="color:orange;">
                    <button onclick="location.href='/writeMaster'" type="button" class="btn btn-primary btn-sm" style="float: right;">글 등록</button>
                </div>
                <%}}%>
            </div>
            <div id="items" class="row">

            </div>
        </div>

        <%if(!authUser.phoneAuthCheck){%>
        <div class="modal" role="dialog" id="myModal" style="display:block;">
            <div class="modal-dialog">
                <p style="text-align:center;font-size:25px;font-weight:650;margin-top:20px;"><strong style="color:orange;">주소와 관심분야</strong>를 등록하시면 <br>가까운 위치의 관심분야에 맞는 마스터를 <br>쉽게 찾으실 수 있습니다.</p>
                <br><br>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary" onclick="fade()" style="width: 100%;">다음에 등록하기</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary" onclick="location.href='/studentapply'" style="width: 100%;">등록하러 가기</button>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
        <%}%>

    </section>
    <%- include footer.ejs %>
    <div id="googleMap" class="w3-sidebar w3-third" style="right: 0; top: 111px; min-height: 890px;"></div>

<script>
    //07_04 add by sehyeon
    //myMap() 수정
    var map;
    function myMap() {
        var mapCanvas = document.getElementById("googleMap");
        var myCenter = new google.maps.LatLng(36.6251, 127.45718299999999);
        //var marker = new google.maps.Marker({position:myCenter});
        var mapOptions = {
            center: myCenter,
            zoom: 14
        };
        map = new google.maps.Map(mapCanvas, mapOptions);
        //marker.setMap(map);

        /*google.maps.event.addListener(marker,'click',function() {
            map.setZoom(17);
            map.setCenter(marker.getPosition());
        });*/
    }

    window.onscroll = function() {myFunction()};

    function myFunction() {
        if (document.body.scrollTop > 1 || document.documentElement.scrollTop > 1) {
            document.getElementById("googleMap").style.top = 0;
        } else {
            document.getElementById("googleMap").style.top = "111px";
        }
    }

    function fade() {
        var mymodal = document.getElementById('myModal');
        mymodal.style.display = "none";
        document.getElementById('googleMap').style.display = "none";
        var section = document.getElementById('mySection');
        section.classList.remove("w3-twothird");
        section.classList.add("container");
    }

    function selectRegion1(){
      var region = document.getElementById('select_region');
      var option = region.options[region.selectedIndex].value;
      var region2 = document.getElementById('select_region2');
      var options="<option value='지역(2)'>지역(2)</option>";
      if(option=='청주'){
        options +="<option value='상당구'>상당구</option>";
        options +="<option value='서원구'>서원구</option>";
        options +="<option value='흥덕구'>흥덕구</option>";
        options +="<option value='청원구'>청원구</option>";
        region2.innerHTML = options;
      }
      if(option=='세종'){
        options +="<option value='한솔동'>한솔동</option>";
        options +="<option value='도담동'>도담동</option>";
        options +="<option value='아름동'>아름동</option>";
        options +="<option value='종촌동'>종촌동</option>";
        options +="<option value='보람동'>보람동</option>";
        options +="<option value='고운동'>고운동</option>";
        options +="<option value='새롬동'>새롬동</option>";
        region2.innerHTML = options;
      }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR5TC1oRGXf90Q7CZck3R78M-APCvL0Qo&callback=myMap"></script>
<script src="https://cdn.sobekrepository.org/includes/gmaps-markerwithlabel/1.9.1/gmaps-markerwithlabel-1.9.1.min.js"></script>
<!-- JAVASCRIPTS -->

<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="plugins/tether/js/tether.min.js"></script>
<script src="plugins/raty/jquery.raty-fa.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
<script src="plugins/smoothscroll/SmoothScroll.min.js"></script>
<script src="plugins/datepicker/bootstrap-datepicker.min.js"></script>
<script src="plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="js/custom.js"></script>
<!--Marker 찍는 js 파일-->
<script src="js/masterMarker_GSH.js"></script>
<script>
    //07_04 add by sehyeon
    //Map에 marker 찍는 부분
    findRegion(JSON.parse('<%- JSON.stringify(authUser) %>'));
    markingMap(map);
</script>

</body>

</html>
