<!DOCTYPE html>
<html lang="en">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Study - 스터디 매칭 서비스</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />

    <!-- Include jQuery lib. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>

    <!-- PLUGINS CSS STYLE -->
    <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Select 2 -->
    <link href="plugins/selectbox/select_option1.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="plugins/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" media="screen">
    <!-- Owl Carousel Theme -->
    <link href="plugins/owl-carousel/assets/owl.theme.green.min.css" rel="stylesheet" media="screen">
    <!-- Fancy Box -->
    <link href="plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
    <!-- Datepicker -->
    <link href="plugins/datepicker/datepicker.min.css" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link href="css/board.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- FAVICON -->
    <link href="img/favicon.png" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="body-wrapper">

<!--=====================================
=            Top Header Menu            =
======================================-->
<%- include topHeader.ejs %>
<!--=============================
=            Nav Bar            =
==============================-->
<%- include topButton.ejs %>

<!--==================================
=            Write contents            =
===================================-->

<section class="store-coupon section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-11" style="margin:auto;">
                <!-- Block -->
                <div class="block">
                    <div class="media">
                        <!-- Store Icon -->
                        <form action="/process/addboard" method="post" style="width:100%;margin:auto;display:block;">
                        <div class="row">
                        <div class="col-sm-5 col-md-5 col-lg-2 image-content d-flex align-self-center">
                            <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/people-icon.png" style="margin:auto;display:block;width:100%;height:100%;" alt="pizza-hut">
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7 media-body" style="margin:10px 20px;">
                            <!-- <form action="/process/addboard" method="post"> -->
                            <!-- Heading -->
                            <h3 class="headerSign"><%=board.title %></h3>
                            <!-- Description -->
                            <div class="row">
                              <div class="col-lg-6 form-group">
                                <label class="darktext">지역</label>
                                <span style=""><%= board.region %></span>
                              </div>
                              <div class="col-lg-6 form-group">
                                <label class="darktext">카테고리</label>
                                <% for(var i=0; i < board.category.length;i++){ %>
                                <span style=""><%= board.category[i] %></span>
                                <% } %>
                              </div>
                              <div class="col-lg-6 form-group">
                                <label class="darktext">모집기한</label>
                                <span id="deadline"></span>
                                <script>
                                  var i = new Date('<%- board.deadline %>');
                                  document.getElementById('deadline').innerHTML = date_format(i);
                                  function date_format(dateValue){
                                    var dd = dateValue.getDate();
                                    var mm = dateValue.getMonth()+1;
                                    var yyyy = dateValue.getFullYear();

                                    if(dd<10){
                                      dd = '0'+dd;
                                    }
                                    if(mm<10){
                                      mm = '0'+mm;
                                    }
                                    return yyyy+'-'+mm+'-'+dd;
                                  }
                                </script>
                              </div>
                              <div class="col-lg-6 form-group">
                                <label class="darktext">모집인원</label>
                                  <label class="control-label" style="font-size: 14px;" for="minNum">최소</label>
                                  <span>&nbsp;<%=board.minNum%>명</span>
                                  <label class="control-label" style="font-size: 14px;" for="maxNum">최대</label>
                                  <span>&nbsp;<%=board.maxNum%>명</span>
                                  <!-- <label class="control-labe" style="font-size: 14px;" for="currentNum">현재</label>
                                  <span>&nbsp;<%=board.currentNum%>명</span> -->
                              </div>
                              <div class="col-lg-6 form-group">
                                <label for="studyTerm" class="darktext">스터디 기간</label>
                                <span>&nbsp;<%=board.studyTerm%>주</span>
                              </div>
                              <div class="col-lg-6 form-group">
                                <label for="price" class="darktext">금액<small style="color:gray;">(총)</small></label>
                                <span>&nbsp;<%=board.price%>[만원]</span>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-2">
                          <a href="/studentapply" style="width:100%;" class="btn btn-transparent">참여 신청하기</a>
                        </div>
                        </div>
                    </div>
                    <!-- <a href="/studentapply" style="width:150px;background-color:orange;border:1px solid white;color:white;">참여하기</a> -->
                    <article style="margin:0;padding:10px;">
                        <div class="post-slider owl-carousel owl-theme" style="width: 100%;">
                            <div class="item"><a href="single-blog.html"> <img src="img/blog/post-2.jpg" style ="width: 100%;height: 250px;" alt="Slider-Img-01"></a></div>
                            <div class="item"><a href="single-blog.html"><img src="img/blog/post-2.jpg" style="width: 100%;height: 250px;" alt="Slider-Img-02"></a></div>
                            <div class="item"><a href="single-blog.html"><img src="img/blog/post-2.jpg" style="width: 100%;height: 250px;" alt="Slider-Img-03"></a></div>
                        </div>
                    </article>
                </div>
                <div style="margin-top:50px;">
                  <div class="editor_cnt">
                    <div class="col-lg-2 title">
                        <h5>Master 소개</h5>
                    </div>
                    <div class="col-lg-10 block">
                      <%- board.masterInfo %>
                    </div>
                  </div>
                  <div class="editor_cnt">
                    <div class="col-lg-2 title">
                        <h5>Study 소개</h5>
                    </div>
                    <div class="col-lg-10 block">
                      <%- board.studyInfo %>
                    </div>
                  </div>
                  <div class="editor_cnt">
                    <div class="col-lg-2 title">
                        <h6>스터디 장소</h6>
                    </div>
                    <div class="col-lg-10 block">

                    </div>
                  </div>
                  <div class="editor_cnt">
                    <div class="col-lg-2 title">
                        <h6>마스터에 대한 후기</h6>
                    </div>
                    <div class="col-lg-10 block" style="padding: 25px 0px 30px 0">
                      <div class="review_star">
                        스터디평점&nbsp;3.0&nbsp;<span class="starrr" data-rating='3'></span>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<!--============================
=            Footer            =
=============================-->
<%- include footer.ejs %>

<!-- Include jQuery lib. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- Include Editor JS files. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>

<!-- JAVASCRIPTS -->
<!--<script src="../public/plugins/jquery/jquery.min.js"></script>-->
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="plugins/tether/js/tether.min.js"></script>
<script src="plugins/raty/jquery.raty-fa.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
<script src="plugins/smoothscroll/SmoothScroll.min.js"></script>
<script src="plugins/datepicker/bootstrap-datepicker.min.js"></script>
<script src="plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="js/custom.js"></script>

</body>

</html>
