<!DOCTYPE html>
<html lang="en">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Study - 스터디 매칭 서비스</title>

    <!-- PLUGINS CSS STYLE -->
    <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Select 2 -->
    <link href="plugins/selectbox/select_option1.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="plugins/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" media="screen">
    <!-- Owl Carousel Theme -->
    <link href="plugins/owl-carousel/assets/owl.theme.green.min.css" rel="stylesheet" media="screen">
    <!-- Fancy Box -->
    <link href="plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
    <!-- Datepicker -->
    <link href="plugins/datepicker/datepicker.min.css" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link href="css/board.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <!-- HEADER CSS -->
    <link href="css/nav.css" rel="stylesheet">
    <!-- FOOTER CSS -->
    <link href="css/footer.css" rel="stylesheet">
    <!-- FAVICON -->
    <link href="img/favicon.png" rel="shortcut icon">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body class="body-wrapper">


<!--=====================================
=            Top Header Menu            =
======================================-->
<%- include topHeader.ejs %>
<!--=============================
=            Nav Bar            =
==============================-->
<%- include topButton.ejs %>

<!--==================================
=            Store Coupon            =
===================================-->

<section class="store-coupon section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-11" style="margin:auto;">
                <!-- Store Block -->
                <div class="block">
                    <div class="media">
                        <!-- Store Icon -->
                        <div class="row" style="width:100%;">

                            <div class="col-sm-5 col-md-5 col-lg-2 image-content d-flex align-self-center" style="height:120px;">
                                <img src="<%- board.masterphoto %>" style="margin:auto;display:block;width:100%;height:100% ;border-radius:50%;"  alt="master_profile">
                            </div>

                            <div class="col-sm-7 col-md-7 col-lg-7 media-body" style="margin:10px 20px;">
                                <!-- <form action="/process/addboard" method="post"> -->
                                <!-- Heading -->
                                <span class="headerSign"><%=board.title %></span>
                                <!-- Description -->
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <label class="darktext">지역</label>
                                        <span style=""><%= board.regionShort %></span>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label class="darktext">카테고리</label>
                                        <% for(var i=0; i < board.category.length;i++){ %>
                                        <span style=""><%= board.category[i] %></span>
                                        <% } %>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label class="darktext">모집기한</label>
                                        <span id="deadline"></span>
                                        <script>
                                            var i = new Date('<%- board.deadline %>');
                                            document.getElementById('deadline').innerHTML = date_format(i);
                                            function date_format(dateValue){
                                                var dd = dateValue.getDate();
                                                var mm = dateValue.getMonth()+1;
                                                var yyyy = dateValue.getFullYear();

                                                if(dd<10){
                                                    dd = '0'+dd;
                                                }
                                                if(mm<10){
                                                    mm = '0'+mm;
                                                }
                                                return yyyy+'-'+mm+'-'+dd;
                                            }
                                        </script>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label class="darktext">모집인원</label>
                                        <label class="control-label" style="font-size: 14px;" for="minNum">최소</label>
                                        <span>&nbsp;<%=board.minNum%>명</span>
                                        <label class="control-label" style="font-size: 14px;" for="maxNum">최대</label>
                                        <span>&nbsp;<%=board.maxNum%>명</span>
                                        <!-- <label class="control-labe" style="font-size: 14px;" for="currentNum">현재</label>
                                      <span>&nbsp;<%=board.currentNum%>명</span> -->
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="studyTerm" class="darktext">스터디 기간</label>
                                        <span>&nbsp;<%=board.studyTerm%>주</span>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="price" class="darktext">수업료<small style="color:gray;">(총)</small></label>
                                        <span style="font-size:22px;font-weight: 700;color:#ff751a;">&nbsp;주 <%=board.studynum%>회 <%=board.price%>만원</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 50px;">
                    <div class="editor_cnt">
                        <div class="col-lg-2 title">
                            <h5>나의 크레딧</h5>
                        </div>
                        <div class="col-lg-10 block">
                            <h1 style="color: #ff751a; text-align: center; margin-top: 60px;"><%=authUser.credit%>&nbsp;<small style="font-size: 15px; color: gray;">크레딧</small></h1>
                            <br>
                            <button class="btn col-8 col-sm-6 col-md-4" onclick="location.href='/payment2'" style="margin: auto; display: block; background: gray; color: #fefefe;">크레딧 충전</button>
                            <p style="text-align: center;color:#666;margin-top:10px;">* 이벤트 기간에는 무료입니다.</p>
                        </div>

                        <div class="col-lg-2 title">
                            <h5>결제</h5>
                        </div>

                        <div class="col-lg-10 block">
                          <table class="table applypeople">
                            <thead>
                              <tr>
                                <th>이름</th>
                                <th>상태</th>
                                <th>연락처</th>
                                <th>크래딧</th>
                              </tr>
                            </thead>
                            <tbody>
                              <%if(board.studentList.length){%>
                                  <%for (var i=0; i< board.studentList.length; i++){%>
                              <tr>
                                <td class="name"></td>
                                <script type="text/javascript">
                                  var name = "<%=board.studentList[i].name%>";
                                  document.getElementsByClassName('name')[<%=i%>].innerHTML = name.substr(0,1) +"XX";
                                </script>
                                <%if(!board.studentList[i].statue){%>
                                  <td>신청</td>
                                  <td>010-XXXX-XXXX</td>
                                  <td><%=(2000+(board.price*200))%></td>
                                <%} else{%>
                                  <td>결제완료</td>
                                  <td><%=board.studentList[i].phone%></td>
                                  <td style="text-decoration: line-through;color:#808080;"><%=(2000+(board.price*200))%></td>
                                <%}%>
                              </tr>
                                  <%}%>
                              <%}%>
                            </tbody>
                          </table>
                          <button class="btn btn-primary col-sm-3 paybtn" data-toggle="modal" data-target="#myModal">결제하기 ></button>
                        </div>
                    </div>
                    <!--<div class="col-lg-2" style="float: left;text-align: center;padding:0 5px;">-->
                        <!--<h5 style="margin:0;border:1px solid brown;border-radius: 5px 20px; background-color:brown;color:white;line-height: 50px;vertical-align: middle;">-->
                            <!--크레딧</h5>-->
                    <!--</div>-->
                    <!--<div class="col-lg-10 block" style="float: left; margin-bottom: 30px">-->
                        <!--<h2 class="credit">8&nbsp;크레딧</h2>-->
                        <!--<div class="credit_button">크레딧 충전</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" style="top: 150px;">
        <div class="modal-dialog">
          <form class="" action="/process/pay" method="post" id="payprocess">
            <input type="hidden" name="id" value="<%=board._id%>">
          </form>
            <!-- Modal content-->
            <div class="modal-content" style="padding:10px;">
                <div class="modal-header">
                  <h6>· 보유 크레딧 : <span style="margin:0 10px;"><%=authUser.credit%> 크레딧</span></h6>
                </div>
                <div class="modal-header">
                  <h6>· 결제 크레딧 : <span style="margin:0 10px;text-decoration: line-through;color:#808080;">
                    <%var total=0;
                    for(var i=0;i< board.studentList.length; i++){
                      if(!board.studentList[i].statue){
                        total++;}}%>
                    <%=(2000+(board.price*200))*total%></span>&nbsp;0 크레딧</h6>
                </div>
                <div class="modal-body">
                    <h3 style="text-align: center; padding: 50px 10px;"><bold>0</bold> 크레딧이 차감됩니다.</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">뒤로가기</button>
                    <button type="submit" class="btn btn-default" form="payprocess">결제하기</button>
                </div>
            </div>

        </div>
    </div>

    </div>
</section>

<!--============================
=            Footer            =
=============================-->
<%- include footer.ejs %>

<!-- JAVASCRIPTS -->
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="plugins/tether/js/tether.min.js"></script>
<script src="plugins/raty/jquery.raty-fa.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
<script src="plugins/smoothscroll/SmoothScroll.min.js"></script>
<script src="plugins/datepicker/bootstrap-datepicker.min.js"></script>
<script src="plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="js/custom.js"></script>

</body>

</html>
