<!--07_04 add by sehyeon-->
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Study - 스터디 매칭 서비스</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Include jQuery lib. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>

    <!-- PLUGINS CSS STYLE -->
    <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Select 2 -->
    <link href="plugins/selectbox/select_option1.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="plugins/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" media="screen">
    <!-- Owl Carousel Theme -->
    <link href="plugins/owl-carousel/assets/owl.theme.green.min.css" rel="stylesheet" media="screen">
    <!-- Fancy Box -->
    <link href="plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
    <!-- Datepicker -->
    <link href="plugins/datepicker/datepicker.min.css" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/board.css" rel="stylesheet">

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <!-- FAVICON -->
    <link href="img/favicon.png" rel="shortcut icon">

    <!-- googlefont -->
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon|Gamja+Flower|Gothic+A1:400,700|Nanum+Brush+Script|Nanum+Gothic:400,700,800|Nanum+Myeongjo:400,700,800|Nanum+Pen+Script|Poor+Story|Song+Myung|Sunflower:300,500,700&amp;subset=korean" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="body-wrapper">


<!--=====================================
=            Top Header Menu            =
======================================-->
<!--=====================================
=            Top Header Menu            =
======================================-->
<%- include topHeader.ejs %>
<!--=============================
=            Nav Bar            =
==============================-->
<%- include topButton.ejs %>

<!--==================================
=            Write contents            =
===================================-->

<section class="store-coupon section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-11" style="margin:auto;">
                <!-- Block -->
                <div class="block">
                    <div class="media">
                        <!-- Store Icon -->
                        <div class="media-body" style="margin:20px 40px;float:left">
                            <!-- Description -->
                            <form action="/process/addboard" method="post" enctype="multipart/form-data" style="width:100%" onsubmit="return chkchk(this);">
                              <!-- PROFILE IMAGE -->
                              <div class="row">
                                  <h2 class="headerSign" style="text-align:center;">마스터 스터디 등록</h2>
                              </div>
                              <div class="row">
                                <label for="title" class="col-lg-2 darktext">제목</label>
                                <input class="col-lg-9 form-control" type="text" name="title" placeholder="TITLE" style="text-align:left;" required/>
                              </div>
                              <div class="row">
                                <label class="col-lg-2 darktext" for="category">카테고리</label>
                                <select class="col-lg-3 form-control" name="category" id="category" style="height:35px;margin:auto 0;font-size:14px;">
                                  <option value="언어">언어</option>
                                  <option value="교육">교육</option>
                                  <option value="운동">운동</option>
                                  <option value="취미/클래스">취미/클래스</option>
                                </select>
                              </div>
                              <div class="row">
                                <label class="col-lg-2 darktext" for="day">요일</label>
                                <div class="col-lg-9 form-control" style="height:auto;margin :auto 0;">
                                  <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input type="checkbox" id="chk_chg" name="day" value="월"><span style="margin-right:50px;">월</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input type="checkbox" id="chk_chg" name="day" value="화"><span style="margin-right:50px;">화</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input type="checkbox" id="chk_chg" name="day" value="수"><span style="margin-right:50px;">수</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input type="checkbox" id="chk_chg" name="day" value="목"><span style="margin-right:50px;">목</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input type="checkbox" id="chk_chg" name="day" value="금"><span style="margin-right:50px;">금</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input type="checkbox" id="chk_chg" name="day" value="토"><span style="margin-right:50px;">토</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input type="checkbox" id="chk_chg" name="day" value="일"><span style="margin-right:50px;">일</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <label class="col-lg-2 darktext" for="region">스터디 장소</label>
                                <!--<input class="form-control col-md-8" type="text" name="region" placeholder="ADDRESS" style="text-align:left;" required/>
                                <button type="button" class="btn btn-primary col-md-2">찾기</button>-->
                              </div>
                              <div class="row">
                                <label for="address" class="col-lg-2 col-md-2 col-sm-2" id="addresslabel">주소</label>
                                <input type="text" class="form-control col-lg-7 col-md-7 col-sm-7" id="address" name="address" required readonly/>
                                <button type="button" class="col-lg-2 col-md-2 col-sm-2" id="findbtn" onclick="goPopup()" style="margin:auto 15px;height:35px;">찾기</button>
                                <input type="hidden" id="entX" value="" name="x"  required readonly/>
                                <input type="hidden" id="entY" name="y" required readonly/>
                                <input type="hidden" id="siNm" name="siNm" required readonly/>
                              </div>
                              <div class="row">
                                <label for="studyTerm" class="col-lg-2 darktext" style="z-index:100;">스터디 기간</label>
                                <select class="col-lg-2 form-control" name="studyTerm" style="height:35px;margin:auto 0;font-size:14px;">
                                  <%var term=1;for(term;term< 15;term++){%>
                                  <option value="<%=term%>"><%=term%>주</option>
                                  <%}%>
                                </select>
                                <label for="price" class="col-lg-2 darktext">금액</label>
                                <input type="number" class="col-lg-2" name="price" min="0" max="100" style="width:150px;" required><span style="margin:auto 5px;">만원</span>
                              </div>
                              <div class="row">
                                  <label class="col-lg-2 darktext" for="deadline">시작 날짜</label>
                                  <input type="text" class="col-lg-2" name="deadline" id="datePicker" style="z-index:50;" placeholder="달력" required>
                                  <label for="" class="col-lg-2 darktext">횟수</label>
                                  <input type="number" class="col-lg-2" name="studynum" id="studynum" min="1" max="7" style="width:150px;" required><span style="margin:auto 5px;">회(주)</span>
                              </div>
                              <div class="row">
                                <label class="col-lg-2 darktext" style="float:left;">모집인원</label>
                                  <select class="col-lg-2 form-control" onchange="maxoption()" style="height:35px;margin:auto 0;" id="minNum" name="minNum">
                                    <option value="최소">최소</option>
                                    <% var min=1;for(min;min< 11;min++){%>
                                    <option value="<%=min%>"><%=min%></option>
                                    <%}%>
                                  </select>
                                  <select class="col-lg-2 form-control" id="maxNum">
                                    <option value="최대">최대</option>
                                  </select>
                                  <input type="Number" class="col-lg-2" id="maxNum2" style="visibility:hidden;">
                                  <input type="hidden" name="maxNum" id="max" value="">
                              </div>
                              <div class="row">
                                <label for="image" class="col-lg-2 darktext" style="padding-right:0">스터디 대표 사진</label>
                                <input class="col-lg-9 form-control" id="main_pic" style="height:35px;margin :auto 0;" type="file" onchange="readURL(this);" name="photo" multiple>
                                <label for="image" class="col-lg-2 darktext" style="padding-right:0">추가 사진</label>
                                <input class="col-lg-9 form-control" style="height:35px;margin :auto 0;" type="file" onchange="readURL(this);" name="photo" multiple>
                                <span class="col-lg-2 darktext"></span>
                                <input class="col-lg-9 form-control" style="height:35px;margin :auto 0;" type="file" onchange="readURL(this);" name="photo" multiple>
                              </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 50px;">
                  <div class="editor_cnt">
                    <div class="col-lg-2 title">
                        <h5>마스터 소개</h5>
                    </div>
                    <div class="col-lg-10 block">
                      <textarea id="text1" class="text" name="masterInfo"></textarea>
                    </div>
                  </div>
                </div>
                <div style="margin-top: 50px;">
                  <div class="editor_cnt">
                    <div class="col-lg-2 title">
                        <h5>스터디 소개</h5>
                    </div>
                    <div class="col-lg-10 block">
                        <textarea id="text2" class="text" name="studyInfo">
                          <h6 style="color:gray;text-align:center;">커리큘럼을 작성해주세요.</h6>
                          <table class="text_table" style="width:100%;">
                            <tbody>
                            <tr>
                              <th style="width: 25%;text-align : center;">1주차</th>
                              <th style="width: 25%;text-align : center;">2주차</th>
                              <th style="width: 25%;text-align : center;">3주차</th>
                              <th style="width: 25%;text-align : center;">4주차</th>
                            </tr>
                            <tr>
                              <td style="width: 25%;"></td>
                              <td style="width: 25%;"></td>
                              <td style="width: 25%;"></td>
                              <td style="width: 25%;"></td>
                            </tr>
                            </tbody>
                          </table>
                        </textarea>
                    </div>
                  </div>
                </div>
                <input type="submit" id="button" value="저장" class="signbuttons">
                </form>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<!--============================
=            Footer            =
=============================-->
<%- include footer.ejs %>

<!-- Include jQuery lib. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>
                    <script type="text/javascript">
                        $(function(){
                            $("#datePicker").datepicker({
                              dateFormat: 'yy-mm-dd',
                              numberOfMonths: [1,2],
                              minDate:0,
                              maxDate:"+2M"
                            });
                            $('.text').froalaEditor({
                              key: 'bA2A8B8D7cD3F3C2C1G3A4C4B6C2D1vdbhA-21D-17eukD1wzB1C-22j==',
                              height: 240,
                              language:'ko',
                              fontFamily: {
                                "'Nanum Gothic',sans-serif":'나눔고딕',
                                "'Nanum Myeongjo',serif":'나눔명조',
                                "'Sunflower',sans-serif":'Sunflower',
                                "'Nanum Brush Script',cursive":'나눔 브러쉬 Script',
                                "'Poor Story',cursive":'Poor Story',
                                "'Nanum Pen Script',cursive":'나눔 펜 Script',
                                "'Do Hyeon',sans-serif":'도현',
                                "'Song Myung', serif":'Song Myung',
                                "'Gothic A1', sans-serif":'Gothic A1',
                                "'Black Han Sans', sans-serif":'Black Han Sans',
                                "'Gamja Flower', cursive":'Gamja Flower'
                              },
                              fontFamilySelection: true,
                              scaytAutoload : true
                            });

                            $('#maxNum').change(function(){
                              var maxNum = document.getElementById('maxNum');
                              var max = maxNum.options[maxNum.selectedIndex].value;
                              if(max=='직접입력'){
                                document.getElementById('maxNum2').style.visibility = "visible";
                              }
                              else{
                                document.getElementById('maxNum2').style.visibility = "hidden";
                                document.getElementById('max').value = max;
                              }
                            })
                            $('#maxNum2').change(function(){
                              var maxNum2 = document.getElementById('maxNum2').value;
                              document.getElementById('max').value = maxNum2;
                            })
                            $('form').on('submit', function (e) {

                              var minNum = document.getElementById('minNum');
                              var min = minNum.options[minNum.selectedIndex].value;
                              if(isNaN(min)==true){
                                alert('최소 인원을 설정해주세요.');
                                $('#minNum').focus();
                                return false;
                              }
                              var maxNum = document.getElementById('maxNum');
                              var max = maxNum.options[maxNum.selectedIndex].value;
                              if(max=='최대'){
                                alert('최대 인원을 설정해주세요.');
                                $('#maxNum').focus();
                                return false;
                              }

                              if ($('#text1').froalaEditor('core.isEmpty')) {
                                alert('마스터 소개를 입력하세요.');

                                return false;
                              }

                              if ($('#text2').froalaEditor('core.isEmpty')) {
                                alert('스터디 소개를 입력하세요.');

                                return false;
                              }
                              if(max=='직접입력'){
                                var maxNum2 = document.getElementById('maxNum2').value;
                                if(maxNum2<11){
                                  alert('최대 : 11 이상으로 작성해주세요.');
                                  $('#maxNum2').focus();
                                  return false;
                                }
                                document.getElementById('maxNum').value = maxNum2;
                                return ;
                              }
                              var studynum = document.getElementById('studynum').value;
                              if(studynum<1&&studynum>7){
                                alert("횟수 : 7 이하로 작성해주세요.");
                                return false;
                              }

                            });

                        });

                        function maxoption(){
                          var minNum = document.getElementById('minNum');
                          var min = minNum.options[minNum.selectedIndex].value;
                          var maxNum = document.getElementById('maxNum');
                          var options ="<option value='최대'>최대</option>";
                          if(min>0 && min<11){
                            for(min;min<11;min++){
                               options+="<option value='"+min+"'>"+min+"</option>";
                            }
                            options+="<option value='직접입력'>직접입력</option>";
                            maxNum.innerHTML = options;
                          }
                        }
                        function chkchk(form){
                          var arr_form = document.getElementsByName('day');
                          var num=0;
                          var address = document.getElementById('address').value;
                          var mainpic = document.getElementById('main_pic').value;

                          if( address == "" || address == null || address == undefined || ( address != null && typeof address == "object" && !Object.keys(address).length ) ){
                            alert('스터디 장소가 이루어질 대략적인 주소를 설정해주세요');
                            return false;
                          }

                          if( mainpic == "" || mainpic == null || mainpic == undefined || ( mainpic != null && typeof mainpic == "object" && !Object.keys(mainpic).length ) ){
                            alert('스터디를 대표할 메인 사진을 등록해주세요');
                            return false;
                          }

                          for(var i =0;i<arr_form.length;i++){
                            if(arr_form[i].checked){
                              num++;
                            }
                          }
                          if(!num){
                            alert('요일 : 하나 이상 선택해주시기 바랍니다.');
                            return false;
                          }
                        }

                        // function date_format(dateValue){
                        //   var dd = dateValue.getDate();
                        //   var mm = dateValue.getMonth()+1;
                        //   var yyyy = dateValue.getFullYear();
                        //
                        //   if(dd<10){
                        //     dd = '0'+dd;
                        //   }
                        //   if(mm<10){
                        //     mm = '0'+mm;
                        //   }
                        //   return yyyy+'-'+mm+'-'+dd;
                        // }

                        function readURL(input) {
                           if (input.files && input.files[0]) {
                               var reader = new FileReader();

                               reader.onload = function (e) {
                                   $('#blah')
                                       .attr('src', e.target.result);
                               };

                               reader.readAsDataURL(input.files[0]);
                           }
                       }
                    </script>

<!-- JAVASCRIPTS -->
<!--<script src="../public/plugins/jquery/jquery.min.js"></script>-->
<!-- Include jQuery lib. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include Editor JS files. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>

<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="plugins/tether/js/tether.min.js"></script>
<script src="plugins/raty/jquery.raty-fa.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
<script src="plugins/smoothscroll/SmoothScroll.min.js"></script>
<script src="plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="js/custom.js"></script>
<!-- froala editor language -->
<script src="js/ko.js"></script>
<!--07_04 add by sehyeon-->
<script src="js/juso_GSH.js"></script>
<script src="plugins/proj4js/proj4js-combined.js"></script>

</body>

</html>
